@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.note-popver {
    bottom: 1rem;
    right: 1rem;
  }

  .note-popver .dropdown-menu-column {
    min-width: 20rem;
    max-width: 20rem;
  }

  .note-popver .btn-icon.show .clipboard {
    display: none;
  }

  .note-popver .btn-icon.show .x {
    display: block;
  }

  .note-popver .btn-icon .x {
    display: none;
  }
  #notes_body {

    height: 24rem;
        overflow-y: scroll !important;

    }
    .d-flex {
        display: block; /* Ensure the parent doesn't interfere with child scrolling */
    }


.table_print {
    width: 100%;
    max-width: 90%;
    border: 1px solid #cccccc;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    }


    .select2-container--open{
      z-index: 9999;
    }

    #my-qr-reader .html5-qrcode-button-camera-start,
    #my-qr-reader .html5-qrcode-button-camera-stop {
        /* Your custom styles */
        background-color: #ff5733 !important;
        color: #ffffff !important;
    }


@media (max-width:1024px) {
    .custom-table-resposive{
        width: calc(100dvw - 30px);
        padding-bottom: 12px;
        margin-left: 0 !important;
        margin-right:  0 !important;
    }
}
